.empty-state {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    color: #c7c7c7;
    text-align: center;
}

.empty-state h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.empty-state p {
    font-size: 1.2rem;
}